body {
  padding: 0;
  margin: 0;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  width: 100%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: repeat(1, 609px);  
}

.block{
  border: 1px solid white;
  text-align: center;
}

.rooms{
  border: 1px solid white;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 58px auto;
  background-color: #464b4e;  
  overflow: auto;
}
.chatRoom {
  height: 86%;
  overflow: auto;
  background-color: #c1c1c1;  
  position: relative;
}
.teams {
  background-color: #f3f3f3;
}
.ServerSection {
  margin-top: 10px;
  height: auto;
  max-width: 100%;
}

.ServerSection h3{
  margin:0;
}

.RoomSection{
  margin-top: 10px;
  height:50px;
}
.RoomSection h3{
  margin:0;
}
.server-icon{
  width:67%;
  height:60px;
  border-radius: 50%;
  background: red;
  float:right;
}
.addServer{
  margin: 0px;
  height: 30px;
  width: 80%;
}
.server-name{
  width: 100%;
  height: 65px;
  position: relative;
}
.room-name{
  width: 100%;
}

.removeServerButton{
    width: 10%;
    position: absolute;
    left: 0px;
}

.roomNameButton{
  background-color: #333745;
  text-align: left;
  width: 100%;
  height: 50px;
  position: relative;
  text-transform: capitalize;
}
.roomName{
  width: 80%;
  overflow: hidden;
}
.roomCancelButton{
  position: absolute;
  right: 0px;
  top: 10px;
  width: 20%;
}
.navbar-default {
  background-color: #464b5e;  
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  background-color: rgb(68, 228, 90);
  transition-duration: 0.8s;
  color: white;
}

.singleMessage {
  width: 98%;
  float: left;
  margin: 10px;
  border-radius: 20px;
  color: black;
}
.messageImage{
  float: left;
  border-radius: 50%;
  max-width: 9%;
  max-height: 50px;
}
.messageContainer {
  width: 91%;
  float: left;
  padding-left: 10px;
  padding-top: 6px;
}
.messageUsername{
  float: left;
}
.messageDate {
  float: left;
  margin-left: 10px;
}
.bodyText{
  float: left;
  width: 90%;
  height: auto;
  text-align: left;
  padding: 10px 10px;
}
.mainChatWrapper{
  height: 100%;
}
.inputField{
  background-color: blue;
  height: 10%;
}
.inputForm{
  height: 100%;
}
.type {  
  width: 81%;
  padding: 18px;
  float: left;
  height: 100%;
  /* border-color: #8357c5; */
}
.type:focus {
  box-shadow: 0 0 93px 30px #8357c5;
}

.send{
  width: 20%;
  height: 60px;
  border: none;
  background-color: white; 
  color: black; 
  border: 2px solid #8357c5;;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: left;
}
.send:hover {
    background-color: #8357c5;
    color: white;
}
.navbar-default .navbar-brand{
  color: white;
}
.navbar {
  margin-bottom: 0px;
}

.memberTeamOptions{
  position: relative;
  height: 20%;
}
.imageTeamSection {
  float: left;
  border-radius: 50%;
  max-width: 25%;
  position: relative;
  left: 4%;
  max-height: 50px;
}
.image-friend {
  float: left;
  border-radius: 50%;
  max-width: 25%;
  max-height: 88%;
  position: relative;
  left: 4%;
  width: 22%;
  height: 80%;
}
.teammember-name {
  margin-right: 10px;
  margin-left: 15%;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 2%;
  width: 55%;
}
.usernameTeamSection {
  float: left;
  width: 50%;
  text-align: center;
  color: green;
}
.optionTeamSection{
  float: right;
  width: 40px;
  position: absolute;
  right: 0px;
  height: 40px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.optionTeamSection:hover {
  background-color: #4CAF50;
  color: white;
}
.roleTeamSection{
   float: left; 
   position: absolute;
   top: 50px;
   width: 30%;
   left: 0px;
}
.red {
  background-color: red;
  float: none;
  height: 1px;
  width: 100%;
  margin: 0px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
  float:none;
}
.roomCancelButton .btn-group>.btn:first-child {
    margin-left: 0;
    padding: 0px 8px;
}

.addServer{
  position: relative;
  width: 100%;
}
button.btn.btn-primary.batata{
  width: 100%;
  position: absolute;
  left: 0px; 
}
.teamMembers{
  position: relative;
  height: 80%;
  overflow: auto;
}
.teamMember {
  position: relative;
  height: 10%;
  width: 100%;
  margin-top: 2%;
}
.teamMember:hover {
  color: black;
  background-color: rgba(114, 118, 125,0.1);
  height: 10%;
}
.memberUsername {
  width: 80%;
  background-color: #FFD554;
  border-radius: 20px;
  color: green;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  top: 10px;
  left: 10%;
}
.memberImage {
  width: 25%;
  height: 50px;
  float: left;
  border-radius: 40%;
}

.searchApp{
  display: inline-block;
}
.btn-info{
  background-color: #333745;
  border:2px #8357c5 solid;
}
.btn-info.focus, .btn-info:focus {
  color: #fff;
  background-color: #333745;
}

button.btn.btn-info:active {
  background-color: #333745;
}
button.btn.btn-info:focus:active {
  background-color: #333745;
}
button.btn.btn-info:hover {
  background-color: #333745;

}
button.serverNameButton.btn.btn-info:hover {
  background-color: #333745;
}
.h3, h3 {
  font-size: 24px;
  color: white;
}

.rooms-sidebar{
  position: relative !important;
}
.ui.inverted.vertical.labeled.icon.ui.overlay.left.thin.visible.sidebar.rooms-sidebar.menu{
  width: 100%;
  background: #464b4e;
}
.inputContainer{
  position: relative;
  height: 60px;
  width: 80%;
  float: left;
}
.message-image{
  color: white;
  border-radius: 5px;  
}
.bodyImage{
  width: 400px;
  height: 201px;
}
.profileImage {
  width: 9%;
  float: left;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.fileContainer {
  overflow: hidden;
  position: relative;
  width: 11%;
  height: 100%;
  background-image: url(http://www.free-icons-download.net/images/upload-local-upload-button-icon-73501.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  cursor: pointer;
  border-radius: 1px;
}
.fileContainer:hover{
  box-shadow: rgba(255, 20, 55, 0.2)
}
.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: -1px;
}
label {
  display: inline-block;
  max-width: 100%;
   margin-bottom: 0; 
}
.upload-loader{
  width: 100%;
  background: url('/loaders/loading1.gif');
  display: block; 
  background-repeat: no-repeat;
  background-size: cover; 
}
.alert-not-your-room {
  padding: 15px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* ********************start of @ media************************** */
@media only screen and (max-width: 840px) {
 .wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "rooms mainChat mainChat mainChat"
  "teams teams teams teams ";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 0fr 1fr 0fr; */
  grid-template-rows: repeat(1, 608px);
}
.mainChat{
  grid-area: mainChat;
  }
    .rooms{
      grid-area: rooms;
    }
  .chatRoom{
    background-color: #c1c1c1;  
    height: 86%;
    overflow: auto;
  }
  .teams{
    margin-top: 5px;
    grid-area: teams;
    overflow: auto;
  } 
  .ServerSection {
    margin-top: 10px;
    height: auto;
    max-width: 20%;
    float: right;
  }
  .serverSectionContainer {
    width: 100%;
    overflow-x: auto;
    height: 100px;
  }
  .roomSectionContainer{
    width: 100%;
    overflow: auto;
    height: 300px;
  }
  .roleTeamSection {
    float: left;
    position: absolute;
    left: 5px;
    top: 50px;
    width: 28%;
  }  
  .addServer{
    margin: 0px;
    height: 30px;
    width: 80%;
    left: 10%;
  }
  .server-name{
    width: 75%;
    height: 100%;
    position: relative;
  }
  
  .MuiPaper-root-42.MuiPaper-elevation24-68.MuiPaper-rounded-43.MuiDialog-paper-30.MuiDialog-paperWidthSm-32.MuiDialog-paperFullScreen-35{
    background-color: silver;
  }
  .header-dialog {
    color: #fff;
    background-color: #8357c5;
  }
  .header-users-dialog{
    color: #fff;
    background-color: #8357c5;
  }
  .image-friend {
    border-radius: 50%;
    max-width: 7%;
    max-height: 88%;
    position: relative;
    width: 22%;
    height: 80%;
    text-transform: capitalize;
    margin: 0 2%;
  }
  .teammember-name {
    margin-right: 10px;
    margin-left: 16%;
    text-transform: capitalize;
    display: block;
    margin-top: 2%;
    width: 20%;
  }
  button.ui.primary.button.team-options-links {
    width: 80%;
    margin-top: 10px;
    height: 100px;
    margin-left: 10%;
  }
}
/* ********************** Second Media Query********************************************************** */

@media only screen and (max-width: 620px) {
  .wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "mainChat mainChat mainChat mainChat";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 608px);
  }
  .mainChat{
    grid-area: mainChat;
  }
  .scale.ui.hidden.visible.transition{
    width: 360px;
    position: relative;
    bottom: 483px;
    left: 50px;
  } 
  .image-friend {
    border-radius: 50%;
    max-width: 7%;
    max-height: 88%;
    position: relative;
    width: 22%;
    height: 80%;
    text-transform: capitalize;
    margin: 0 2%;
  }
  .teammember-name {
    margin-right: 10px;
    margin-left: 16%;
    text-transform: capitalize;
    display: block;
    margin-top: 2%;
    width: 20%;
  } 
  .roomName {
    width: 80%;
    overflow: hidden;
    text-align: center;
}
  .roomCancelButton {
    position: absolute;
    right: 274px;
    top: 9px;
    width: 5%;
  }
  .roomNameButton {
    background-color: #333745;
    text-align: left;
    width: 33%;
    height: 50px;
    position: relative;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
  }
}

/* ********************end of @ media************************** */

header.MuiPaper-root-40.MuiPaper-elevation4-46.MuiAppBar-root-67.MuiAppBar-positionFixed-68.MuiAppBar-colorPrimary-73.mui-fixed.FullScreenDialog-appBar-1 {
  margin-bottom: 2%;
}
/* .image-friend {
  border-radius: 50%;
  max-width: 7%;
  max-height: 88%;
  position: relative;
  width: 22%;
  height: 80%;
  text-transform: capitalize;
  margin: 0 2%;
} */

.scale.ui.hidden.visible.transition{
  width: 360px;
  position: relative;
  bottom: 483px;
  left: 250px;
}
@media only screen and (max-width: 1015px) {
  .scale.ui.hidden.visible.transition{
    width: 360px;
    position: relative;
    bottom: 483px;
    left: 150px;
  } 
}
/* @media only screen and (max-width: 850px) {
    .scale.ui.hidden.visible.transition{
      width: 360px;
      position: relative;
      bottom: 483px;
      left: 50px;
    } 
    .image-friend {
      border-radius: 50%;
      max-width: 7%;
      max-height: 88%;
      position: relative;
      width: 22%;
      height: 80%;
      text-transform: capitalize;
      margin: 0 2%;
    }
    .teammember-name {
      margin-right: 10px;
      margin-left: 16%;
      text-transform: capitalize;
      display: block;
      margin-top: 2%;
      width: 20%;
  }
} */
@media only screen and (max-width: 557px) {
  .scale.ui.hidden.visible.transition{
    width: 360px;
    position: relative;
    bottom: 483px;
    right: 50px;
  } 
}
.ui.button {
  width: 8%;
  height: 100%;
  float: left;
  padding: 0;
  margin: 0px;
  border-radius: 0;
}
.typing{
  height: 4%;
  background-color: #c1c1c1;
}
.navbar-toggle.collapsed{
  display: none
}
button.btn.btn-danger {
  position: absolute;
  right: 6px;
  top: 10px;
}
a.navbar-brand{
  display: none;
}