.searchBar input[type=text]:focus {
  width: 100%;
}
.searchBar input[type=text] {  
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 44px;
  padding: 10px 19px 7px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}