body{
    background-color: #FFC654;
}
.SignUpForm{
    width: 50%;
    position: relative;
    top: 100px;;
    left: 30%;
    background-color: #44B0C4;
    padding: 20px;
    height: 350px;
    padding-top: 60px;
    border-radius: 20px;
}